<div class="jumbotron center">
  	<div class="container">
		<h1> We believe that our current educational practices are wasting a great part of the human potential. We work to change that.
		 </h1>

		 <%= link_to "Take a look", courses_path ,  class: "btn btn-primary btn-lg" %> 
		
	</div>
</div>