<h1> Contact us</h1>
<p> You can reach us at info@edpath.com </p>


<div class="well well-sm">  Name 
	<input type="text" class="form-control" placeholder="Name"> 
</div>
<div class="well well-sm">  Mail 
	<input type="text" class="form-control" placeholder="Mail"> 
</div>
<div class="well well-sm">  Message
	<input type="text" class="form-control" placeholder="Message"> 
</div>


