<div class="jumbotron center">
  	<div class="container">
		<h1> Start learning </h1>
<<<<<<< HEAD
		
=======
		<div class="well well-sm">  
			Username <input type="text" class="form-control" placeholder=" "> 
			Mail <input type="text" class="form-control" placeholder=" "> 
			Password <input type="text" class="form-control" placeholder=" "> 
			<%= link_to "Create account", "#" ,  class: "btn btn-primary btn-lg" %> 
		</div>
>>>>>>> e048786709a418050bb61413252438dbf2f57258
	</div>
</div>
