<div class="jumbotron center">
  	<div class="container">
		<h1> Edpath </h1>
		<h2> Personalized Educational Path </h2>

			
			<% if user_signed_in? %>
          		<span> <%= current_user.email %> </span> 

          # do something



     		<% else %>
			<p> 
			<%= link_to "Sign up", new_user_registration_path , class: "btn btn-info btn-lg" %> 
			<%= link_to "Sign in", new_user_session_path , class: "btn btn-info btn-lg" %> 
		 	<%= link_to "Learn more", about_path ,  class: "btn btn-success btn-lg" %> 
			 </p>

			 <% end %>
			
		 </p>
	</div>
</div>

